Documents/Glossario/Termini.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="terms">
	<xsd:complexType>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="entry">
				<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
        				<xsd:attribute name="name" type="xsd:string" use="required"/>
      				</xsd:extension>
						</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

</xsd:schema>